.form-class{
    padding-top: 9vh;
    margin-left: 3.5vw;
}

h2{
    padding-bottom: 2vh;
}

.my-btn{
    margin-top: 2vh;
    margin-left: 5vw;
}

.one{
    margin-bottom: 1vh;
}

.img1{
    height: 100vh;
    width: auto;
}
.img2{
    margin-left: 3vw;
    margin-bottom: 4vh;
}

